{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-bordered mb-5 d-flex align-items-center">
          <h1 class="h4">{{ .Title }}</h1>
          <ul class="list-inline social-icons ml-auto mr-3 d-none d-sm-block">
            {{ range .Site.Params.social }}
            <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{.icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        <img src="{{.Params.Image | absURL }}" class="img-fluid w-100 mb-4 rounded-lg" alt="author">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}